@use "./variables.scss";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  body {
    font-family: variables.$font;
    font-size: variables.$font-size;
    color: variables.$clr-dark-blue;

    p {
      color: variables.$clr-grey-violet;
    }
  }
}
